* {
    margin: 0;
    padding: 0;
}

#file {
    display: block;
    padding: 5px;
    height: 30px;
}

canvas {
    width: 100%;
}
#overview {
    height: 100px;
}
#datailview {
    height: calc(100% - 130px);
}