name: CI

on: [push]

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@master
    - name: Validate SQF
      run: python3 tools/sqf_validator.py
    - name: Check for BOM
      uses: arma-actions/bom-check@master
  lint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout the source code
      uses: actions/checkout@master
    - name: Lint (sqflint)
      uses: jokoho48/sqflint@master
      continue-on-error: true # No failure due to many false-positives
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - name: Build addon with HEMTT
        uses: arma-actions/hemtt@master
        with:
          command: 'build --release'
      - uses: actions/upload-artifact@master
        with:
          name: '@CLib'
          path: 'releases/@CLib.zip'
  ExtensionBuild:
    runs-on: windows-latest
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Build DotNET35
        run: |
           cd "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\"
           .\MSBuild.exe $Env:GITHUB_WORKSPACE\extensions\CLib\Clib.sln /p:Configuration=Release /p:Platform=x64 /maxcpucount
           .\MSBuild.exe $Env:GITHUB_WORKSPACE\extensions\CLib\Clib.sln /p:Configuration=Release /p:Platform=x86 /maxcpucount
      - uses: actions/upload-artifact@master
        with:
          name: '*.dll'
          path: '*.dll'
